.slick-next {
  display: none !important;
}

.slick-prev {
  display: none !important;
}
.slick-dots {
  bottom: 45px !important;
  li button:before {
    color: #cdc5b9 !important;
    font-size: 10px !important;
  }
}

.sliderImage {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  .photo1 {
    background: url("/src/images/slider-01.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    outline: none;
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: 30%;
    -webkit-animation: zoomin 30s linear;
    animation: zoomin 15s linear;
    animation-fill-mode: forwards;
    background-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h1 {
        font-weight: 500;
        font-size: 65px;
        color: #cdc5b9;
        font-family: "Cormorant", serif;
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #c7a97f;
        background-color: transparent;
        font-family: "Roboto", serif;
        width: 180px;
        height: 50px;
        font-size: 15px;
        margin-top: 40px;
        position: relative;
        &:hover {
          .opacity {
            width: 180px;
            height: 50px;
            background-color: #c7a97f;
            z-index: 1;
          }
          p {
            color: white;
            z-index: 2;
          }
        }

        p {
          color: #cdc5b9;
          transition: all 700ms;
        }

        .opacity {
          position: absolute;
          width: 0px;
          left: 0;
          top: 0;
          height: 50px;
          transition: all 700ms;
        }
      }
    }
  }

  .photo2 {
    background: url("/src/images/slider-02.jpg");
    min-height: 100vh;
    background-size: cover;
    outline: none;
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: 30%;
    -webkit-animation: zoomin 30s linear;
    animation: zoomin 15s linear;
    animation-fill-mode: forwards;
    background-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h1 {
        font-weight: 500;
        font-size: 65px;
        color: #cdc5b9;
        font-family: "Cormorant", serif;
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #c7a97f;
        background-color: transparent;
        font-family: "Roboto", serif;
        width: 180px;
        height: 50px;
        font-size: 15px;
        margin-top: 40px;
        position: relative;
        &:hover {
          .opacity {
            width: 180px;
            height: 50px;
            background-color: #c7a97f;
            z-index: 1;
          }
          p {
            color: white;
            z-index: 2;
          }
        }

        p {
          color: #cdc5b9;
          transition: all 700ms;
        }

        .opacity {
          position: absolute;
          width: 0px;
          left: 0;
          top: 0;
          height: 50px;
          transition: all 700ms;
        }
      }
    }
  }

  .photo3 {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.33),
        rgba(0, 0, 0, 0.53)
      ),
      url("/src/images/slider-03.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    outline: none;
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: 30%;
    -webkit-animation: zoomin 30s linear;
    animation: zoomin 15s linear;
    animation-fill-mode: forwards;
    background-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h1 {
        font-weight: 500;
        font-size: 65px;
        color: #cdc5b9;
        font-family: "Cormorant", serif;
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #c7a97f;
        background-color: transparent;
        font-family: "Roboto", serif;
        width: 180px;
        height: 50px;
        font-size: 15px;
        margin-top: 40px;
        position: relative;
        &:hover {
          .opacity {
            width: 180px;
            height: 50px;
            background-color: #c7a97f;
            z-index: 1;
          }
          p {
            color: white;
            z-index: 2;
          }
        }

        p {
          color: #cdc5b9;
          transition: all 700ms;
        }

        .opacity {
          position: absolute;
          width: 0px;
          left: 0;
          top: 0;
          height: 50px;
          transition: all 700ms;
        }
      }
    }
  }
}

@-webkit-keyframes zoomin {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}
