.accountPages {
  width: 80%;
  margin: 60px auto;
  .accountPage {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    min-height: 50vh;
     .nav {
      width: 20%;
      border-right: 1px solid #ffffff33;
      font-family: "Cormorant", serif;
      a {
        color: #a5a099;
        transition: all 600ms;
        &:hover{
          color: #c7a97f;
        }
      }
      .active {
        color: #c7a97f;
      }
       h2 { 
        font-size: 23px;
        line-height: 60px;
      }
    }
     .order {
      width: 80%;
      font-family: "Roboto", serif;
      margin-left: 50px;
       h3 {
        color: #c7a97f;
       }
       p {
        margin-top: 20px;
        color: #a5a099;
        font-size: 17px;
        line-height: 27px;
      }
    }
  }
}
